@import "./scss/bootstrap-grid";
@import "./scss/medium-editor";
@import "./scss/mani-style";

::root{
  filter: invert(1);
}
* {
  box-sizing: border-box;
  /* font-weight: 400; */
  font-family: "Raleway", sans-serif;
}

@mixin button {
  font-weight: 700;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 25px;
  border: none;
  width: 100%;
  padding: 1em 2em;
}

@mixin holder {
  padding: 1em;
  min-height: 90vh;
  width: 100%;
  border: 1.5px solid;
  border-radius: 3px;
}

body {
  h1 {
    font-size: 34px;
    font-weight: normal;
  }
  p {
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 2;
  }
  .editable {
    @include holder();
  }
  #outputHolder {
    @include holder();
  }
  .localStore {
    @include holder();
    display: none;
    margin-top: 3em;
  }
  #getRawHtml {
    @include button();
    background-color: rgb(0, 255, 106);

    &:hover {
      background-color: rgb(205, 255, 155);
    }
  }
  #getSavedHtml {
    @include button();
    background-color: rgb(255, 55, 138);
    &:hover {
      background-color: rgb(255, 155, 205);
    }
  }
  .show {
    display: block;
  }
}
