*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color:black;
}
div.bottom-nav-up{
    width: 400px;
    position: fixed;
    transition:1s ease;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
  margin-bottom:0px ;
}
div.bottom-nav-down{
    width: 400px;
    position: fixed;
    transition:1s ease;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
  margin-bottom:-229px ;
}
div.bottom-nav-up span{
    position: absolute;
    color: white;
    font-size:24px;
    cursor: pointer;
    background-color:antiquewhite;
    border:  5px solid rgb(0, 0, 0);
    width: 45px;
    height: 45px;
   border-radius: 50%;
    text-align: center;
    color: rgb(255, 47, 47);
    left:50%;
    top:-10%;
    transform: translate(-50%);
    margin-bottom:5px;
}
div.bottom-nav-down span{
    font-weight: 900;
    position: absolute;
    color: white;
    font-size:24px;
    cursor: pointer;
    background-color:antiquewhite;
    border:  5px solid rgb(0, 0, 0);
    width: 45px;
    height: 45px;
   border-radius: 50%;
    text-align: center;
    color: rgb(255, 47, 47);
    left:50%;
    top:-10%;
    transform: translate(-50%);
    margin-bottom:5px;
}
.nav-link-container{
    background-color: antiquewhite;
    display:flex;
    justify-content:space-evenly;
    border-radius:20px 20px 0 0;
}
.nav-link-container ul{
  padding:2em;
  width: 100%;
}
.nav-link-container ul li{
    list-style: none;
    text-decoration: none;
    padding:15px;
    width: 100%;
    text-align: center;
}
.nav-link-container ul li a{
    list-style: none;
    text-decoration: none;
    color: red;
    width: 100%;
    font-weight:800;
}
div.content{
    padding: 45px;

}
.article{
    padding:32px 0;
    margin: 20px 2%;
}
h1{
    color: white;
}
p{
    color: white;
}